[Desktop Entry]
Version=3.2.4
Name=GIMP
Comment=Créer des images et modifier des photographies
Exec=/home/<username>/Documents/scripts/launch_gimp.sh
Path=/usr/bin
Icon=/usr/share/swcatalog/icons/archlinux-arch-extra/128x128/gimp_gimp.png
Terminal=false
Type=Application
Categories=Graphics;
