#!/usr/bin/env xdg-open
[Desktop Entry]
Version=svn 13832
Name=Code::Blocks
Comment=C++/C IDE
Exec=/home/<username>/Documents/scripts/launch_codeblocks.sh
Path=/opt/codeblocks 
Icon=/home/<username>/Images/Icons/codeblocks-icon.png
Terminal=false
Type=Application
Categories=Development;
