[Desktop Entry]
Type=Application
Version=1.135.0
Name=Visual Studio Code
Comment=Microsoft IDE
Path=/home/dnolle/soft-local/VSCode-linux-x64
Exec=/home/dnolle/soft-local/VSCode-linux-x64/code
Icon=/home/dnolle/Images/Icons/vscode-icon.png
Terminal=false
Categories=Development
